
<mat-list-item style="padding:10px">
<div>
<div>
<p style="font-size:20px;">           
   <a target="_blank" [href]="item.link">{{item.title}}</a>
</p>

<small> Autor: <a target="_blank" [href]="item.owner.link">{{item.owner.display_name}}</a> || 
   Erstelldatum: {{item.creation_date * 1000 | date:'medium'}}
</small> 
</div>
<br>
<div class="div-wrapper">
   <a target="_blank" [href]="item.link" button mat-raised-button color="warn"
matBadge="{{item.answer_count}}" matBadgePosition="before" matBadgeColor="accent">Antworten</a>

     <mat-chip-list *ngFor="let tag of item.tags">
       <mat-chip>{{tag}}</mat-chip>
    </mat-chip-list>
    <br>
</div>
</div>
</mat-list-item>