

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-list-item {
    height: auto !important;
    border-bottom: 3px solid grey;
    padding-bottom: 10px;
}


.div-wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
 }