<mat-list-item style="padding:10px">
<div class="div-wrapper">
    Die Wetterdaten von: {{wItem['Datum']}} um {{wItem['Zeit']}} Uhr || {{wItem['Temp. A.']}} ° Grad || {{wItem['Feuchte A.']}} % Luftfreuchtigkeit
    <br>
</div>

</mat-list-item>
