<mat-expansion-panel (opened)="expansionPanel = true" (closed)="expansionPanel = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            StackOverFlow - Thema: TypeScript
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list  *ngFor="let stackOverFlowItem of stackOverFlowItems; index as i">
    <app-item [item]="stackOverFlowItem"></app-item>
    </mat-list>
</mat-expansion-panel>
<br>
<mat-expansion-panel (opened)="expansionPanel = true" (closed)="expansionPanel = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            StackOverFlow - Thema: Angular2
        </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-list  *ngFor="let angular2Item of angular2Items; index as i">
             <app-item [item]="angular2Item"></app-item>
        </mat-list>
</mat-expansion-panel>
<br>
<mat-expansion-panel (opened)="expansionPanel = true" (closed)="expansionPanel = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Wetterdaten
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list  *ngFor="let item of weatherList; index as i">
            <app-item *ngIf="item.creation_date" [item]="item"></app-item>
            <app-w-item *ngIf="!item.creation_date" [wItem]="item"></app-w-item>
    </mat-list>
</mat-expansion-panel> 
 



